<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>

<body>
    <h3>Information</h3>
    <table border=5>
        <thead>
            <td>ID</td>
            <td>Username</td>
            <td>Image_name</td>
            <td>Plate</td>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["username"]}}</td>
                <td>{{row["image_name"]}}</td>
                <td>{{row["labelPlate"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>